h1{
    color: purple;
}

#gusta{
    color: green;
}

#a1{
    color: greenyellow;
}

#a2{
    color: greenyellow;
}

#a3{
    color: greenyellow;
}

#a4{
    color: greenyellow;
}

#a5{
    color: greenyellow;
}

#nogusta{
    color: brown;
}

#a{
    color: red;
}

#b{
    color: red;
}

#c{
    color: red;
}

#d{
    color: red;
}

#e{
    color: red;
}